@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    box-sizing: border-box ;
    /* border: 1px solid red; */
}
.navbar {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Hero-text-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 160px;
}

.Text-button-container {
    margin-left: 8%;
    margin-top: 195px;
}

.text-container {
    margin-left: 1%;
    width: 55%;
}

.Button1 {
    margin-left: 0%;
    position: relative;
    animation-duration: 1.5s;
}

.Button1:hover {
    left: 5%;
    animation-name: motion1;
    animation-duration: 1s;
    transition: all ease-in-out cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes motion1 {
    0% {
        left: 0%;
    }
    100% {
        left: 5%;
    }
}

.Redbox {
    position: relative;
    width: 50%;
    height: 715px;
    background-color: #E8042F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/BG.svg");
}
.Redbox .watermark{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('/Wheels-website/images/watermark.png') repeat;
    z-index: 0;
}
.logo {
    margin-left: 9%;
}

.cta {
    margin-right: 10%;
}

.cta:hover {
    animation: motion4 0.8s;
}

@keyframes motion4 {
    from {
        width: 30px;
    }
    to {
        width: 32px;
    }
}

.hero-text {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 90%;
    letter-spacing: -0.01em;
    color: #222222;
    margin-bottom: 30px;
}

.sub-text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: #8D8E91;
    margin-bottom: 50px;
}

.car-Navigation {
    width: 100%;
    margin: 0;
    background-color: #222222;
    z-index: 6;
}

.car1 {
    height: 355px;
    width: 100%;
    max-width: 600px;
}

.Perfect-choice-text {
    height: 355px;
    width: 69%;
    text-align: center;
    margin-top: 130px;
    z-index: 90;
}

.stars-rating {
    margin-left: 10%;
    max-width: 300px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.perfect-choice {
    color: white;
    font-family: Helvetica;
    font-size: 22px;
    padding-bottom: 8px;
    max-width: 300px;
}

.lorem-text {
    color: white;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 15px;
    max-width: 300px;
}

.mockup {
    z-index: 100;
    height: 570px;
    width: 600px !important;

    position: absolute;
    left: 36%;
    top: 18%;
    transition: 1s ease;

}

.mockup:hover {
   transform: translateX(20%);
}



.nav-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 675px;
    right: 34%;
    width: 80px;
    height: 19px;
}

.circle {
    width: 19px;
    height: 19px;
    border-radius: 50px;
    background-color: white;
    transition: all 0.4s ease-in-out cubic-bezier(0.39, 0.575, 0.565, 1)
}

.circle:hover {
    background-color: #E8042F;
}

.ReadmoreTrans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: -5%;
    top: 57%;
    width: 170px;
    height: 20px;
    transform: rotate(270deg);
    z-index: 7;
}

.ReadmoreTrans:hover {
    animation-name: motion3;
    animation-duration: 1s;
    transition: all ease-in-out cubic-bezier(0.39, 0.575, 0.565, 1)
}

@keyframes motion3 {
    0% {
        top: 57%;
    }
    100% {
        top: 60%;
    }
}

.card-container {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1219px;
    margin: auto auto;
    gap:2rem;
    padding-inline:2rem;
}

.card {
    background-color: #FFFF;
    color: #727272;
    box-shadow: 12px 7px 37px rgba(0, 0, 0, 0.1);
    height: 464px;
    width: 548px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    transition: all 0.8s;
}

.card:hover {
    background-color: #222222;
    color: #FFFF;
}

.card-2 {
    transition: all 0.8s ease-in-out cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
}

.card-p {
    width: 434px;
    height: 464px;
    margin-top: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

@media (width<1029px) {
    .Hero-text-containers {
        flex-direction: column;
        width: 100%;
    }
    .Text-button-container {
        width: 100%;
        text-align: center;
        padding-inline:3%;
        margin-left: 0;
    }
    .text-container{
        width: 100%;
    }
    .Redbox {
        width: 100%;
        flex-direction: row;
        height: 400px;
        margin-top: 50px;
        height: 600px;
    }
    .car-Navigation {
        height: 100%;
    }
    .car1 {
        height: 100%;
    }
    .Perfect-choice-text {
        width: 90%;
        margin-top: 260px;
    }
    .stars-rating {
        margin-left: 0;
    }
    .perfect-choice {
        margin-left: auto;
        margin-right: auto;
    }
    .text-container{
        text-align: center;
        margin-left: 0;
        max-width: 550px;
        margin: auto !important;
    }
    .hero-text {
        text-align: center;
        font-style: normal;
        font-weight: 800;
        font-size: 8rem;
        line-height: 80%;
        letter-spacing: -.5rem;

    }
    .lorem-text {
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        font-size: 14px;
    }
    .sub-text {
        font-weight: 300;
        font-size: 17px;
        line-height: 120%;
    }
    .stars-rating {
        margin-left: auto;
        margin-right: auto;
    }
    .car-Navigation {
        position: relative;
    }
    .nav-box {
        top: 85%;
        right: 10%;
        left: 40%;
    }
    .navbar {
        background-color: #E8042F;
    }
    .logo {
        width: 120px;
        height: 50px;
    }
    .ReadmoreTrans {
        right: -5%;
        top: 45%;
    }
    .ReadmoreTrans:hover {
        animation-name: motion3;
        animation-duration: 1s;
        transition: all ease-in-out cubic-bezier(0.39, 0.575, 0.565, 1)
    }
    @keyframes motion3 {
        0% {
            top: 45%;
        }
        100% {
            top: 48%;
        }
    }
    .Hero-text-containers {
        overflow: hidden;
    }
    .mockup{
        position: relative;
        left: unset;
        top: unset;
        margin: auto;
    }
    .mockup:hover {
        transform: unset;
     }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-left: auto !important;
        margin-right: auto;
    }
    .card-2 {
        margin-top: 50px;
    }
    .tyremark{
        display: none;
    }
    .fadebox{
        display: none;
    }
}

@media (max-width:830px) {
    .Redbox{
        height: 400px;
    }
}
@media (max-width:600px) {
    .mockup {
        z-index: 10;
        height: 370px;
        width: 400px !important;
        transition: 1s ease;
    }
}
@media(width<580px) {
    .card {
        color: #FFFFFF;
        box-shadow: 12px 7px 37px rgba(0, 0, 0, 0.1);
        height: 420px;
        width: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        margin-left: 8%;
        transition: all 0.8s;
        background-color: #222222;
    }
    .card-p {
        width: 300px;
        height: 300px;
        margin-top: 20px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
    }
}
@media(max-width:450px){
    .Hero-text-containers{
        box-sizing: border-box;
    }
    .Text-button-container{
       margin-left: auto;
       margin-right: auto;
        text-align: center;
        
    }
    .text-container{
        width: 100%;
        padding-inline: 10%;
        margin:0;
    }
    .text-container .hero-text{
        font-size:6rem;
        line-height: 100%;
        letter-spacing: -.6rem;
        font-weight: 00;
    }   
    .mockup{
        position: absolute;
        left: 50%;
        margin-left:-187.5px;
        top: 80vh;
    }
    .mockup:hover {
        transform: unset;
     }
    .Redbox{
        flex-direction: column;
        height: 744px;
        margin-top: 300px;
        background-image:" /Wheels-website/images/watermark.png";
    }
    .Perfect-choice-text{
        height: 377px !important;
        margin-top: 139px;
        margin-bottom: 93px;
    }
    .car-Navigation{
        height: 367px !important;
    }
    .card{
        width: 300px;
        height:320px;
        padding: 30px 20px;
    }
    .bad-smell{
        width: 60px !important;
        height: 60px !important;
        margin-top: 1.5rem !important;
    }
    .card-h3{
        font-size: 1.5rem;
        font-weight: 500;
    } 
    .card-p{
        font-size:.8rem;
        padding-inline: 10px;
    }


}
@media (max-width:375px) {
    .mockup {
        z-index: 10;
        height:360px;
        width: 380px !important;
        left: 50%;
        margin-left: -190px;
        transition: 1s ease;
        top: 100vh;
    }
    .Redbox{
        margin-top: 300px;
    }
}
.arrow {
    width: 53px;
}

.Second-Section {
    margin-bottom: 168px;
}

.text-container-2 {
    text-align: center;
}

.hero-text2 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 90%;
    letter-spacing: -0.01em;
    color: #222222;
    margin-bottom: 16px;
}

.bad-smell {
    margin-top: 83px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}



.Relativity-box {
    position: relative;
}

.text-container-3 {
    margin-bottom: 60px;
}

.function-box-container {
    max-width: 1211px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6.2%;
    padding-right: 6.2%;
    margin: auto auto;
}

.function-box {
    text-align: center;
}

.img-coned {
    margin-bottom: 24px;
    transition: all 1.5s;
}
@media(max-width:600px){
    .img-coned{
        width: 70px;
        margin-bottom: 16px;
        aspect-ratio: 1/1;
    }
    .function-box p{
        font-size: 16px !important;
    }
}
.img-coned:hover {
    transform: scale(1.3);
}


.wheel-Container{
    width: 100%;
}

.half-wheel {
    width: 80%;
    aspect-ratio: 2/1.2;
    margin-left:10%;
    margin-right: 10%;
    transition: all 1s;
    z-index: -2;
}


.partners{
    width: 100%;
    height: 200px !important;
}

.Third-Section {
    margin-bottom: 41px;
}

.Extras1 {
    margin-top: 129px;
}

.tyremark {
    position: absolute;
    top: 2750px;
    height: 950px;
    z-index: -1;
}

/* .Reset {
    height: 700px;
    top: 3100px;
    ;
} */

.tyreimg {
    width: 180px;
    height: 220px;
    margin-top: 11px;
}

.tyreslider {
    height: 500px;
    width: 330px;
    display: flex;
    flex-direction: row;
    gap: 2rem !important;
    justify-content: space-between;
    align-items: center;
}

.tyre-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    width: 310px;
    height: 390px;
    max-height: 556px;
    background-color: #FFFFFF;
    border-radius: 9px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 12px 7px 37px rgba(0, 0, 0, 0.1);
}

.tyre-card:hover {
    background-color: #D81E2E;
    color: #FFFF;
    transform-style: preserve-3d;
    transform: scale(1.08);
    transition: all 0.9s ease-in;
}

.tyre-card:hover .tyreName h2 {
    color: #FFFF;
    transition: all 0.9s ease;
}

.tyre-card:hover .description p {
    color: #FFFF;
    transition: all 0.9s ease;
}

.tyre-card:hover .CTA2 {
    display: block;
}

.tyre-card:hover .cart-like {
    display: flex;
}

.tyre-shadow {
    width: 299.25px;
    height: 19.31px;
    left: 159px;
    top: 3707.13px;
    background: radial-gradient(50% 50% at 50% 50%, #242424 0%, rgba(36, 36, 36, 0) 100%);
    opacity: 0.5;
    filter: blur(5.86091px)
}

.tyreName h2 {
    font-family: "Mukta";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #2B3666;
}

.tyreName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description p {
    font-family: "Mukta";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #727272;
    width: 231px;
    height: 34px;
    text-align: left;
}

.description h3 {
    font-family: "Mukta";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #C7C7C7;
}

.discount{
    position: absolute;
    top: 170px;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 62px;
    gap:-5px;
    height: 62px;
    background: radial-gradient(60.77% 113.24% at 50% 113.24%, rgba(255, 232, 179, 0.65) 0%, rgba(255, 188, 29, 0.65) 78.59%);
    border: 0.5px solid #FFD163;
    backdrop-filter: blur(5.02708px);
    -webkit-backdrop-filter: blur(5.02708px);
    border-radius: 50%;
    font-family: "Mukta";
}
.discount>h3{
    margin: 0;
    font-size: 24px;
}
.discount>p{
    margin:0;
}
.CTA2 {
    display: none;
    width: 187px;
    height: 47px;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 6px;
    transition: all 1s ease-in;
}

.CTA2:hover {
    animation: motionindex 0.8s;
}
@media (max-width:400px) {
    .Fourth-Section .usingCss{
        margin-left: 20px;
    }
    .tyre-card {

        width: 290px;
        height: 350px;
        max-height: 556px;
        background-color: #D81E2E;
        border-radius: 9px;
        margin-left: 25px;
    }
    .tyreimg{
        height:180px;
        width:160px;
    }
    .discount{
        left: 140px;
        top: 145px;
    }
    .discount>h3{
        margin: 0;
        font-size: 24px;
        color: #fff;
    }
    .discount>p{
        color: #fff;
    }
    .description{
        color: #fff;
    }
    .CTA2{
        display: unset;
        margin-left: -8px;
    }
    .details .tyreName h2{
        color: #fff;
    }
    .description p{
        color: #fff;
    }
    .cart-like{
        display: unset !important;
        left: 240px !important;
    }
    .tyre-card:hover {
        color: #FFFF;
        transform-style: unset;
        transform:unset;
        transition: all 0.9s ease-in;
    }
}
@keyframes motionindex {
    from {
        margin-left: 6px;
    }
    to {
        margin-left: 10px;
    }
}

.cart-like {
    display: none;
    width: 35px;
    height: 80px;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 260px;
    top: 30px;
}

.icon-container {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container:hover {
    background-color: #22222280;
    transition: all 0.8s ease;
}
.Fourth-Section{
    padding-bottom: 200px;
}

.Fifth-Section {
    position: relative;
    margin-bottom: 300px;
    background-color: #fff;
}



.col-5 {
    position: absolute;
    height: 700px;
    width: 100%;
    background-color: #222222;
    z-index: 1;
    
}

.Flag-red {
    position: absolute;
    left: 94px;
    top: 0;
    background-color: #D81E2E;
    width: 266px;
    height: 844px;
    z-index: 2;
}
@media(max-width:1000px){
    .Flag-red {
        left: 50px;
    }
    
}

.content-container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    z-index: 3;
    top: 100px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.text-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 3rem;
    margin-bottom: 94px;

}

.text-contents>h2 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    /* or 53px */
    text-transform: capitalize;
    color: #FFFFFF;
    width: 430px;
}

.text-contents>p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    padding-top: 10px;
    width: 460px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
}

iframe {
    margin: auto auto;
    width: 80%;
    aspect-ratio: 3/2;
    margin-bottom: 63px;
    border-radius: 10px;
}
@media (max-width:650px) {
    .text-contents{
        flex-direction: column;
        gap:0;
        margin-bottom:40px;
    }
    .text-contents>h2{
        text-align: center;
        font-size: 40px;
        line-height: 110%;
        text-transform: uppercase;
        letter-spacing: -.1rem;
    }
    .text-contents>p{
        text-align: center;
    }
    iframe{
        width: 90%;
    }
    .Flag-red{
        width: 150px;
        height: 500px;
        left:10px;
    }
    .col-5{
        height: 460px;
        top: 0 !important;
    }
}
@media (max-width:450px) {
    .text-contents>p{
        width: unset;
    }
    .text-contents>h2{
        font-size: 35px;
        width: unset;
    }
}

.PaymentGateways {
    width: 100% !important;
    margin-top: 30px;
}

.complex-section {
    width: 100%;
    padding-bottom: 150px;
}


/* Lightslider */

.usingCss {
    margin-left:100px;
    margin-right:100px;
    width: 86% !important;
}
@media(max-width:578px){
    .usingCss {
        margin-right:50px;
        margin-left:50px;
    }
}

.lSSlideOuter .lSPager.lSpg>li:hover a,
.lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #D81E2E !important;
}

.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #E2E2E5;
}


/* leroy zoom   */

#leroy_zoom_frame {
    width: 300px;
    height: 300px;
    background: #FFF;
    color: #333;
    position: absolute;
    left: 150px !important;
    overflow: hidden;
    line-height: 300px;
    border: 2px solid #D81E2E !important;
    text-align: center;
    border-radius: 100%;
    -khtml-border-radius: 0;
}

a.zoomable .zoom-cursor {
    display: none;
    position: absolute;
}

a.zoomable {
    cursor: crosshair;
}

a.magnified .zoom-cursor:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #FFF;
    margin-left: -40px;
    margin-top: -40px;
    border: 2px dotted #D81E2E !important;
    opacity: .6;
    border-radius: 100%;
    -khtml-border-radius: 0;
}

.area {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 6rem;
    
}
.area a{
    border-radius: 50%;
}
.complex-section-image {
    /* position: absolute;
    top: 60px;
    left: 370px; */
    width:600px;
    aspect-ratio: 3/2.8;
    
}
@media(max-width:1048px){
    .complex-section-image {
        width: 500px;
    }
}
@media(max-width:920px){
    .complex-section-image{
        width:400px;
    }
}
@media (max-width:650px) {
    .area{
        padding-inline:2rem;
    }
}
@media(max-width:450px){
    .complex-section-image{
        width:340px;
    }
}
.area{
    max-width: 950px;
    margin: auto auto;
}


.definition-box-h2 {
    width: 262px;
    Font-family: helvetica;
    Font-style: Bold;
    Font-size: 24px;
    Line-height: 34px;
    margin-bottom: 16px;
    color: #444444;
}

.definition-box-p {
    font-weight: 100;
    width: 303px;
    Font-family: helvetica;
    font-size: 16px;
    margin-bottom: 16px;
    color: #727272;
}
@media(max-width:800px){
    .area{
        flex-direction: column;
    }
    .definition-box-h2{
        text-align: center;
        width: unset;
    }
    .definition-box-p {
        text-align:center;
        width: unset;
        padding-inline: 20px;
    }
}
.Sixth-Section {
    position: relative;
}

.Seventh-Section {
    width: 100%;
    margin-bottom: 160px;
}

.Seventh-Section .record {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
    background-color: #F6F6F6;
    padding: 5rem;
}


.Seventh-Section .record :nth-child(3) {
    margin-right: 0;
}

.Seventh-Section .record div h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    color: #222222
}

.Seventh-Section .record div p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 124%;
    color: #D81E2E;
    text-align: center;
}
@media (max-width:730px) {
    .Seventh-Section .record {
        flex-direction: column;
        gap: 30px;
    }
}
.testimonial {
    margin-bottom: 40px;
}

.testimonial ul {
    margin-bottom: 50px;
}

.testimonial-card {
    position: relative;
    width: 450px;
    height: 500px;
    background: url("/Wheels-website/images/imag1.jpg");
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: End;
    align-items: center;
    overflow: hidden;
    margin-right: 20px;
}
@media(max-width:552px){
    .testimonial-card {
        width: 300px;
        height: 350px;
    }
}
.card2 {
    background: url("/Wheels-website/images/imag2.jpg");
}

.card3 {
    background: url("/Wheels-website/images/imag3.jpg");
}

.card4 {
    background: url("/Wheels-website/images/imag3.jpg");
}

.testimonial-card .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.testimonial-card .overlay::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0%;
    background: linear-gradient(180deg, rgba(216, 30, 46, 0) 0%, #D81E2E 100%);
    transition: all 0.4s;
}

.testimonial-card:hover .overlay::before {
    height: 70%;
}

.testimonial-card .overlay .card-contents {
    width: 354px;
    height: 139.38px;
    left: 210px;
    top: 7586px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;
    font-family: helvetica;
    margin-bottom: 31px;
    z-index: 2;
}

.testimonial-card .overlay .card-contents h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 12px;
}

.testimonial-card .overlay .card-contents p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
}
@media(max-width:552px){
    .testimonial-card {
        width: 300px;
        height: 350px;
    }
    .testimonial-card .overlay .card-contents p{
        font-size:15px;
        padding-inline: 2rem;
    }
    
}
.yellow {
    color: #FFBC1D;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}

.images-box {
    width: 100%;
    aspect-ratio: 3/2;
    display: flex;
    overflow: hidden;
}

.images-box img {
    width: 25%;
}
@media (max-width:450px) {
    .images-box img{
        width: 100%;
        height: unset;
        aspect-ratio: 1/1;
    }
}
.copyright {
    height: 93px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.bak {
    background-color: #D81E2E;
}
/* .property{
   padding: 40px 30px;
    background-color: #424242;
    border-radius: unset;
    color: #fff;
    text-decoration: none;
} */